@charset "UTF-8";
/* цвет заголовка текста чорный #212121 */
/* цвет заголовка текста вторичный белый #ffffff */
/* цвет основного текста серый #757575 */
/* цвет акцента текста синий #2196f3 */
/* цвет основной иконки серый #afb1b8*/
:root {
  --title-text-color: #212121;
  --title-text-color-secondary: #ffffff;
  --primary-text-color: #757575;
  --accent-text-color: #2196f3;
  --icon-color: #afb1b8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a:focus, a:hover {
  color: var(--accent-text-color);
}

img {
  display: block;
  max-width: 100%;
}

address {
  font-style: normal;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header-main {
  color: var(--title-text-color-secondary);
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header-main {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .header-main__mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-main__mobile-menu-btn:hover, .header-main__mobile-menu-btn:focus {
    fill: var(--accent-text-color);
  }
  .header-main__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header-main__nav {
    display: flex;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 84px;
  }
  .header-main__nav-menu {
    margin-left: 88px;
  }
  .header-main__mobile-menu-btn {
    display: none;
  }
  .header-main__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .header-main {
    display: flex;
    background-color: var(--title-text-color-secondary);
    border-bottom: 1px solid #ececec;
  }
  .header-main__nav {
    display: flex;
    align-items: center;
  }
  .header-main__nav-menu {
    margin-left: 93px;
  }
  .header-main__mobile-menu-btn {
    display: none;
  }
  .header-main_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.website-nav-list {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .website-nav-list {
    display: none;
  }
}

.website-nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.website-nav-list__link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.website-nav-list__link:hover, .website-nav-list__link:focus {
  color: var(--accent-text-color);
}

.website-nav-list__link--current {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.website-nav-list__link--current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--accent-text-color);
  width: 48px;
  height: 4px;
  border: 0;
  border-radius: 2px;
}

.website-nav-list__portfolio--link--current {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.website-nav-list__portfolio--link--current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--accent-text-color);
  width: 78px;
  height: 4px;
  border: 0;
  border-radius: 2px;
}

.logo {
  color: var(--title-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover, .logo:focus {
  color: var(--accent-text-color);
}

.logo-web {
  color: var(--accent-text-color);
}

@media screen and (min-width: 1200px) {
  .logo-web {
    color: var(--accent-text-color);
  }
  .logo {
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 90px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .logo:hover, .logo:focus {
    color: var(--accent-text-color);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .contacts-nav-list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-nav-list {
    display: block;
    align-items: center;
  }
  .contacts-nav-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contacts-nav-list__link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .contacts-nav-list__mail-icon {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
  .contacts-nav-list__link:hover .contacts-nav-list__mail-icon,
  .contacts-nav-list__link:focus .contacts-nav-list__mail-icon {
    fill: var(--accent-text-color);
  }
  .contacts-nav-list__phone-icon {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
  .contacts-nav-list__link:hover .contacts-nav-list__phone-icon,
  .contacts-nav-list__link:focus .contacts-nav-list__phone-icon {
    fill: var(--accent-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav-list {
    display: flex;
    align-items: center;
  }
  .contacts-nav-list__item:last-child {
    margin-left: 50px;
  }
  .contacts-nav-list__link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* color: red; */
  }
  .contacts-nav-list__link:hover, .contacts-nav-list__link:focus {
    color: var(--accent-text-color);
  }
  .contacts-nav-list__mail-icon {
    margin-right: 10px;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-nav-list__mail-icon:hover, .contacts-nav-list__mail-icon:focus {
    fill: var(--accent-text-color);
  }
  .contacts-nav-list__phone-icon {
    margin-right: 10px;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-nav-list__phone-icon:hover, .contacts-nav-list__phone-icon:focus {
    fill: var(--accent-text-color);
  }
}

.feature-list {
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 767px) {
  .feature-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .feature-list__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
  }
  .feature-list__item {
    margin-right: 30px;
    margin-bottom: 30px;
    max-width: 354px;
  }
  .feature-list__item:nth-child(2n) {
    margin-right: 0;
  }
  .feature-list__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list {
    display: flex;
  }
  .feature-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.feature-list__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.feature-list__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.feature-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-list__icon {
  width: 70px;
  height: 70px;
}

.footer-address__location {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color-secondary);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address__location:hover, .footer-address__location:focus {
  color: var(--accent-text-color);
}

.footer-address__link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-top: 9px;
  margin-bottom: 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address__link:hover, .footer-address__link:focus {
  color: var(--accent-text-color);
}

.logo-white {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color-secondary);
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-white:hover, .logo-white:focus {
  color: var(--accent-text-color);
}

@media screen and (min-width: 1200px) {
  .logo-white {
    font-size: 26px;
  }
}

@media screen and (max-width: 767px) {
  .footer-address {
    margin-bottom: 60px;
  }
  .footer-social-container__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .footer-social-container__list {
    display: flex;
    justify-content: center;
  }
  .footer-social-container__item {
    margin-right: 10px;
  }
  .footer-social-container__item:last-child {
    margin-right: 0;
  }
  .footer-subscribe-container__title {
    margin-top: 60px;
  }
  .footer-social-container__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-social-container__link:hover, .footer-social-container__link:focus {
    background-color: var(--accent-text-color);
  }
  .footer-social-container__link:hover:hover .social-icon,
  .footer-social-container__link:hover:focus .social-icon, .footer-social-container__link:focus:hover .social-icon,
  .footer-social-container__link:focus:focus .social-icon {
    fill: var(--title-text-color-secondary);
  }
  .footer-social-container__icon {
    width: 20px;
    height: 20px;
    fill: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-subscribe-container {
    display: block;
    margin: auto;
  }
  .footer-social-container__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .footer-social-container__list {
    display: flex;
    justify-content: center;
  }
  .footer-social-container__item {
    margin-right: 10px;
  }
  .footer-social-container__item:last-child {
    margin-right: 0;
  }
  .footer-social-container__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-social-container__link:hover, .footer-social-container__link:focus {
    background-color: var(--accent-text-color);
  }
  .footer-social-container__link:hover:hover .social-icon,
  .footer-social-container__link:hover:focus .social-icon, .footer-social-container__link:focus:hover .social-icon,
  .footer-social-container__link:focus:focus .social-icon {
    fill: var(--title-text-color-secondary);
  }
  .footer-social-container__icon {
    width: 20px;
    height: 20px;
    fill: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-subscribe-container__input {
    width: 450px;
  }
  .tablet {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .footer-address {
    margin-right: 165px;
    margin-bottom: 60px;
  }
  .footer-social-container {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    margin: auto;
  }
  .footer-address {
    padding-right: 15px;
  }
  .footer-social-container {
    margin-left: 70px;
  }
  .footer-social-container__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .footer-social-container__list {
    display: flex;
    justify-content: space-between;
  }
  .footer-social-container__item {
    margin-right: 10px;
  }
  .footer-social-container__item:last-child {
    margin-right: 0;
  }
  .footer-social-container__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-social-container__link:hover, .footer-social-container__link:focus {
    background-color: var(--accent-text-color);
  }
  .footer-social-container__link:hover:hover .social-icon,
  .footer-social-container__link:hover:focus .social-icon, .footer-social-container__link:focus:hover .social-icon,
  .footer-social-container__link:focus:focus .social-icon {
    fill: var(--title-text-color-secondary);
  }
  .footer-social-container__icon {
    width: 20px;
    height: 20px;
    fill: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (max-width: 1199px) {
  .footer {
    background-color: #2f303a;
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
  }
}

.section-hero__button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  padding: 10px 32px;
  color: var(--title-text-color-secondary);
  background-color: var(--accent-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-hero__button:hover, .section-hero__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/imghero.jpg);
  background-size: cover;
  background-position: center;
  background-color: #2f303a;
}

.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  color: var(--title-text-color-secondary);
  margin-bottom: 30px;
  max-width: 380px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/imghero@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/imghero.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (max-width: 1199px), (min-resolution: 192dpi) and (max-width: 1199px), (min-resolution: 2dppx) and (max-width: 1199px) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/imghero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/imghero.jpg);
  }
  .section-hero__title {
    font-size: 44px;
    line-height: 1.4;
    max-width: 696px;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/imghero@2x.jpg);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--title-text-color-secondary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close--button {
  position: absolute;
  align-items: center;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--title-text-color-secondary);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px 5px 5px 5px;
}

.modal__icon--close {
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close--button:hover .modal__icon--close,
.modal__close--button:focus .modal__icon--close {
  fill: var(--accent-text-color);
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  background-color: var(--title-text-color-secondary);
  transition: border-color var(--accent-text-color);
}

.modal__input:focus {
  border-color: var(--accent-text-color);
  outline: none;
}

.modal__head {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__field {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.modal__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-text-color);
}

.modal__comments {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__comments:focus {
  border-color: var(--accent-text-color);
  outline: none;
}

.modal__comments::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__checkbox--policy {
  margin: auto;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal__checkbox--policy::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  outline: 1px solid var(--title-text-color);
  cursor: pointer;
  margin-right: 9px;
  border-radius: 2px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox:checked + .modal__checkbox--policy::before {
  background-image: url(../images/icon-check.svg);
  outline-color: var(--title-text-color-secondary);
}

.modal__checkbox:focus + .modal__checkbox--policy::before {
  outline: 1px solid var(--accent-text-color);
}

.modal__link {
  text-decoration: underline;
  color: var(--accent-text-color);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__link:focus {
  outline: 1px solid var(--accent-text-color);
}

.modal__submit--button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-self: center;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  color: var(--title-text-color-secondary);
  background-color: var(--accent-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit--button:hover, .modal__submit--button:focus {
  background-color: #188ce8;
  outline: 1px solid var(--accent-text-color);
}

.button-filter-list {
  color: var(--title-text-color);
}

.button-filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.button-filter-list__button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  display: inline-block;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter-list__button:hover, .button-filter-list__button:focus {
  color: var(--title-text-color-secondary);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 399px) {
  .button-filter-list__item {
    margin-bottom: 15px;
  }
  .button-filter-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 400px) {
  .button-filter-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .button-filter-list__item:first-child {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .button-filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .button-filter-list {
    margin-bottom: 50px;
  }
}

.project-list__link {
  background-color: #ffffff;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list__link:hover, .project-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  /* box-shadow: 0px 10px 10px yellow, 0px 10px 40px yellow, 10px 10px 6px yellow; */
}

/* max-width: 370px; */
/* outline: 1px solid teal; */
/* .project-list-item:nth-child(3n) {
  margin-right: 0;} */
.project-list__overlay {
  position: relative;
  overflow: hidden;
}

.project-list__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--title-text-color-secondary);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list__link:hover .project-list__title,
.project-list__link:focus .project-list__title {
  transform: translateY(0%);
}

.project-list__content {
  /* background-color: #deeb2a; */
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.project-list__headline {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project-list__tagline {
  margin-top: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.project-img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .project-list {
    display: block;
  }
  .project-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .project-list__content {
    padding: 20px 18px;
  }
  .project-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    /* outline: 1px solid tomato; */
  }
  .project-list__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    /* outline: 1px solid tomato; */
  }
  .project-list__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .section-client__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .section-client__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .section-client__company--item {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .section-client__company--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .section-client__company--icon:hover, .section-client__company--icon:focus {
    fill: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
  }
}

@media screen and (min-width: 768px) {
  .section-client__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .section-client__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .section-client__company--item {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .section-client__company--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .section-client__company--icon:hover, .section-client__company--icon:focus {
    fill: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .section-client__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .section-client__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 0;
  }
  .section-client__company--item {
    margin-right: 30px;
  }
  .section-client__company--item:last-child {
    margin-right: 0;
  }
  .section-client__company--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .section-client__company--icon:hover, .section-client__company--icon:focus {
    fill: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
  }
  .section-client__company--item {
    margin-bottom: 0px;
  }
}

.section-client__company--item {
  width: 170px;
  height: 92px;
}

@media screen and (max-width: 767px) {
  .section-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .section-team-card__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .section-team-card__profession {
    font-family: 'Roboto', sans-serif;
    width: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: #757575;
  }
  .section-team-card__social--list {
    padding: 0 74px 24px;
    display: flex;
    justify-content: center;
  }
  .section-team-card__item:not(:last-child) {
    margin-right: 10px;
  }
  .section-team__list {
    display: block;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .section-team__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .section-team-card__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #ffffff;
    transition: backgraund 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .section-team-card__link:hover, .section-team-card__link:focus {
    background: var(--accent-text-color);
  }
  .section-team-card__icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .section-team-card__link:hover .section-team-card__icon,
  .section-team-card__link:focus .section-team-card__icon {
    fill: var(--title-text-color-secondary);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-team-card__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .section-team-card__profession {
    font-family: 'Roboto', sans-serif;
    width: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: #757575;
  }
  .section-team-card__social--list {
    padding: 0 74px 24px;
    display: flex;
    justify-content: space-between;
  }
  .section-team__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .section-team__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .section-team-card__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #ffffff;
    transition: backgraund 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .section-team-card__link:hover, .section-team-card__link:focus {
    background: var(--accent-text-color);
  }
  .section-team-card__icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .section-team-card__link:hover .section-team-card__icon,
  .section-team-card__link:focus .section-team-card__icon {
    fill: var(--title-text-color-secondary);
  }
}

@media screen and (min-width: 1200px) {
  .section-team-card {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .section-team-card__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 0;
  }
  .section-team-card__profession {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-top: 10px;
    margin-bottom: 16px;
  }
  .section-team-card__social--list {
    display: flex;
    justify-content: space-between;
  }
  .section-team-card__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #ffffff;
    transition: backgraund 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .section-team-card__link:hover, .section-team-card__link:focus {
    background: var(--accent-text-color);
  }
  .section-team-card__icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .section-team-card__link:hover .section-team-card__icon,
  .section-team-card__link:focus .section-team-card__icon {
    fill: var(--title-text-color-secondary);
  }
}

.section-team {
  background-color: #f5f4fa;
}

.section-team__item {
  /*margin-left: 30px;*/
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .section-team__list:not(:last-child) {
    margin-bottom: 30px;
  }
  .section-team__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .section-team__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 30px;
  }
  .section-team__item {
    margin-right: 30px;
    margin-bottom: 30px;
    min-width: 354px;
  }
  .section-team__item:nth-child(2n) {
    margin-right: 0;
  }
  .section-team__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-team {
    background-color: #f5f4fa;
  }
  .section-team__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .section-team__list {
    display: flex;
    /* flex-wrap: wrap; */
    /* margin-right: -30px; */
  }
  /* .team-list .team-list-item {
  flex-basis: calc(( 100% - 120PX ) / 4);
  margin-left: 30px;
  margin-top: 30px;
} */
  .section-team__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    color: var(--title-text-color);
    /*margin-left: 30px;*/
    text-align: center;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .section-team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
  }
  .section-team__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .footer-subscribe-container {
    margin-left: 0px;
  }
  .footer-subscribe-container__input {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
    background-color: rgba(33, 150, 243, 0);
    padding-left: 16px;
    margin-right: 12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 20px 0;
  }
  .footer-subscribe-container__input:hover, .footer-subscribe-container__input:focus {
    outline: none;
  }
}

@media screen and (min-width: 768px) {
  .footer-subscribe-container {
    margin-left: 0px;
  }
  .footer-subscribe-container__input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
    background-color: rgba(33, 150, 243, 0);
    padding-left: 16px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
  .footer-subscribe-container__input:hover, .footer-subscribe-container__input:focus {
    outline: none;
  }
  .footer-subscribe-container__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line: height 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscribe-container {
    margin-left: 93px;
  }
  .tablet {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .footer-subscribe-container__form {
    display: flex;
    justify-content: space-between;
  }
  .footer-subscribe-container__input {
    width: 358px;
    margin-bottom: 0px;
    margin-right: 12px;
  }
}

.footer-subscribe-container__button--subscribe {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--accent-text-color);
  color: var(--title-text-color-secondary);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-container__button--subscribe:hover, .footer-subscribe-container__button--subscribe:focus {
  background-color: #188ce8;
}

.footer-subscribe-container__icon--send {
  fill: var(--title-text-color-secondary);
  margin-left: 10px;
}

.footer-subscribe-container__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-subscribe-container__button--subscribe {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--accent-text-color);
  color: var(--title-text-color-secondary);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-container__button--subscribe:hover, .footer-subscribe-container__button--subscribe:focus {
  background-color: #188ce8;
}

.footer-subscribe-container__icon--send {
  fill: var(--title-text-color-secondary);
  margin-left: 10px;
}

@media screen and (max-width: 1199px) {
  .we-make {
    display: none;
  }
}

.we-make {
  padding-top: 0px;
}

.we-make__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
}

.we-make__list {
  display: flex;
}

.we-make__item {
  position: relative;
}

.we-make__item:not(:last-child) {
  margin-right: 30px;
}

.we-make__text {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color-secondary);
  background-color: rgba(47, 48, 58, 0.8);
}

.visually-hidden-portfolio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: var(--title-text-color-secondary);
    font-family: 'Roboto', sans-serif;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 20;
    transition: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
    color: var(--accent-text-color);
  }
  .mobile-menu__nav {
    margin-bottom: 302px;
  }
  .mobile-menu__nav-item {
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.02em;
  }
  .mobile-menu__nav-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__nav-link {
    color: var(--title-text-color);
  }
  .mobile-menu__contacts {
    margin-bottom: 64px;
  }
  .mobile-menu__contacts-phone {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    letter-spacing: 0.02em;
  }
  .mobile-menu__contacts-phone-link {
    color: var(--accent-text-color);
  }
  .mobile-menu__contacts-email {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.02em;
  }
  .mobile-menu__contacts-email-link {
    color: var(--primary-text-color);
  }
  .mobile-menu__network {
    display: flex;
  }
  .mobile-menu__network-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .mobile-menu__network-item:not(:last-child) {
    margin-right: 20px;
  }
  .mobile-menu__network-link {
    color: var(--accent-text-color);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */