/* цвет заголовка текста чорный #212121 */
/* цвет заголовка текста вторичный белый #ffffff */
/* цвет основного текста серый #757575 */
/* цвет акцента текста синий #2196f3 */
/* цвет основной иконки серый #afb1b8*/
:root {
  --title-text-color: #212121;
  --title-text-color-secondary: #ffffff;
  --primary-text-color: #757575;
  --accent-text-color: #2196f3;
  --icon-color: #afb1b8;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* header */

/* top line bg */
/* ===============НАЧАЛО ШАПКИ===============*/
.header-main {
  color: var(--title-text-color-secondary);
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

/* WebStudio */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
.header-main__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-main__nav {
  display: flex;
  align-items: center;
}

.contacts-nav-list {
  display: flex;
  align-items: center;
}
.contacts-nav-list__item:last-child {
  margin-left: 50px;
}

.logo-web {
  color: var(--accent-text-color);
}
.logo {
  color: var(--title-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 90px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover,
.logo:focus {
  color: var(--accent-text-color);
}

/* Menu Nav */

.website-nav-list__link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.website-nav-list__link--current {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}
.website-nav-list__portfolio--link--current {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}
.website-nav-list__link:hover,
.website-nav-list__link:focus {
  color: var(--accent-text-color);
}
.contacts-nav-list__link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* color: red; */
}
.contacts-nav-list__link:hover,
.contacts-nav-list__link:focus {
  color: var(--accent-text-color);
}
.contacts-nav-list__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-nav-list__icon:hover,
.contacts-nav-list__icon:focus {
  fill: var(--accent-text-color);
}

.website-nav-list__link--current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--accent-text-color);
  width: 48px;
  height: 4px;
  border: 0;
  border-radius: 2px;
}
.website-nav-list__portfolio--link--current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--accent-text-color);
  width: 78px;
  height: 4px;
  border: 0;
  border-radius: 2px;
}
/* ===============КОНЕЦ ШАПКИ===============*/

/* ==============НАЧАЛО ОСНОВНОГО КОНТЕНТА MAIN INDEX.HTML===============*/
/* main content*/
.section-hero {
  background: #c4c4c4;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/imghero.jpg);
}

.section-hero__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-text-color-secondary);
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 30px;
  width: 696px;
}
.section-hero__button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  padding: 10px 32px;
  color: var(--title-text-color-secondary);
  background-color: var(--accent-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-hero__button:hover,
.section-hero__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* main content text */
/* Секция особенностей */
.feature-list {
  display: flex;
}
.feature-list__item:not(:last-child) {
  margin-right: 30px;
}
.feature-list__item {
  width: 270px;
}

.feature-list__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}
.feature-list__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.feature-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.feature-list__icon {
  width: 70px;
  height: 70px;
}

/* Секция чем мы занимаемся */

.we-make {
  padding-top: 0px;
}
.we-make__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
}
.we-make__list {
  display: flex;
}
.we-make__item:not(:last-child) {
  margin-right: 30px;
}
.we-make__item {
  position: relative;
}
.we-make__text {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color-secondary);
  background-color: rgba(47, 48, 58, 0.8);
}
/*Наша команда*/

.section-team {
  background-color: #f5f4fa;
}
.section-team__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
}

.section-team__list {
  display: flex;
  /* flex-wrap: wrap; */
  /* margin-right: -30px; */
}
/* .team-list .team-list-item {
  flex-basis: calc(( 100% - 120PX ) / 4);
  margin-left: 30px;
  margin-top: 30px;
} */
.section-team__item:not(:last-child) {
  margin-right: 30px;
}
.section-team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.section-team-card {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.section-team-card__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0;
}
.section-team-card__profession {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 10px;
  margin-bottom: 16px;
}
.section-team-card__social--list {
  display: flex;
  justify-content: space-between;
}
.section-team-card__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #ffffff;
  transition: backgraund 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-team-card__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-team-card__link:hover,
.section-team-card__link:focus {
  background: var(--accent-text-color);
}
.section-team-card__link:hover .section-team-card__icon,
.section-team-card__link:focus .section-team-card__icon {
  fill: var(--title-text-color-secondary);
}
/* постоянные клиенты  */
.section-client__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
}
.section-client__list {
  display: flex;
  justify-content: center;
}
.section-client__company--item {
  margin-right: 30px;
}
.section-client__company--item:last-child {
  margin-right: 0;
}
.section-client__company--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-client__company--icon:hover,
.section-client__company--icon:focus {
  fill: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}

/*  footer */

.footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}
.logo-white {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color-secondary);
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-white:hover,
.logo-white:focus {
  color: var(--accent-text-color);
}

/*  адрес  */

address {
  font-style: normal;
}
.footer-address__location {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color-secondary);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address__location:hover,
.footer-address__location:focus {
  color: var(--accent-text-color);
}
.footer-address__link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-top: 9px;
  margin-bottom: 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address__link:hover,
.footer-address__link:focus {
  color: var(--accent-text-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-social-container {
  margin-left: 70px;
}
.footer-social-container__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-social-container__list {
  display: flex;
  justify-content: space-between;
}
.footer-social-container__item {
  margin-right: 10px;
}
.footer-social-container__item:last-child {
  margin-right: 0;
}
.footer-social-container__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-container__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-container__link:hover,
.footer-social-container__link:focus {
  background-color: var(--accent-text-color);
}
.footer-social-container__link:hover .social-icon,
.footer-social-container__link:focus .social-icon {
  fill: var(--title-text-color-secondary);
}

/* =========Podpiska================= */

.footer-subscribe-container {
  margin-left: 93px;
}
.footer-subscribe-container__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-subscribe-container__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  background-color: rgba(33, 150, 243, 0);
  padding-left: 16px;
  margin-right: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.footer-subscribe-container__input:hover,
.footer-subscribe-container__input:focus {
  outline: none;
}
.footer-subscribe-container__button--subscribe {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--accent-text-color);
  color: var(--title-text-color-secondary);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-container__button--subscribe:hover,
.footer-subscribe-container__button--subscribe:focus {
  background-color: #188ce8;
}
.footer-subscribe-container__icon--send {
  fill: var(--title-text-color-secondary);
  margin-left: 10px;
}
/* portfolio */

/*portfolio main*/
.visually-hidden-portfolio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button-filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: var(--title-text-color);
}
.button-filter-list__item:not(:last-child) {
  margin-right: 8px;
}
.button-filter-list__button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  display: inline-block;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-filter-list__button:hover,
.button-filter-list__button:focus {
  color: var(--title-text-color-secondary);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-filter-list__button--current {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: #f5f4fa;
  display: inline-block;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  color: var(--title-text-color-secondary);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  /* outline: 1px solid tomato; */
}
.project-list__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
.project-list__link {
  background-color: #ffffff;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list__link:hover,
.project-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  /* box-shadow: 0px 10px 10px yellow, 0px 10px 40px yellow, 10px 10px 6px yellow; */
}

/* max-width: 370px; */
/* outline: 1px solid teal; */
/* .project-list-item:nth-child(3n) {
  margin-right: 0;} */
.project-list__overlay {
  position: relative;
  overflow: hidden;
}
.project-list__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--title-text-color-secondary);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list__link:hover .project-list__title,
.project-list__link:focus .project-list__title {
  transform: translateY(0%);
}

.project-list__content {
  /* background-color: #deeb2a; */
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.project-list__headline {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project-list__tagline {
  margin-top: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* ===============МОДАЛЬНОЕ ОКНО===============*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--title-text-color-secondary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__close--button {
  position: absolute;
  align-items: center;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--title-text-color-secondary);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px 5px 5px 5px;
}
.modal__icon--close {
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close--button:hover .modal__icon--close,
.modal__close--button:focus .modal__icon--close {
  fill: var(--accent-text-color);
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  background-color: var(--title-text-color-secondary);
  transition: border-color var(--accent-text-color);
}
.modal__input:focus {
  border-color: var(--accent-text-color);
  outline: none;
}

.modal__head {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(33, 33, 33, 1);
  margin-bottom: 12px;
}
.modal__field {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.modal__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}
.modal__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .modal__icon {
  fill: var(--accent-text-color);
}
.modal__comments {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comments:focus {
  border-color: var(--accent-text-color);
  outline: none;
}
.modal__comments::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__checkbox:checked + .modal__checkbox--policy::before {
  background-image: url(../images/icon-check.svg);
  outline-color: var(--title-text-color-secondary);
}
.modal__checkbox:focus + .modal__checkbox--policy::before {
  outline: 1px solid var(--accent-text-color);
}
.modal__checkbox--policy {
  margin: auto;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.modal__checkbox--policy::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  outline: 1px solid var(--title-text-color);
  cursor: pointer;
  margin-right: 9px;
  border-radius: 2px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__link {
  text-decoration: underline;
  color: var(--accent-text-color);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__link:focus {
  outline: 1px solid var(--accent-text-color);
}
.modal__submit--button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-self: center;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  color: var(--title-text-color-secondary);
  background-color: var(--accent-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__submit--button:hover,
.modal__submit--button:focus {
  background-color: #188ce8;
  outline: 1px solid var(--accent-text-color);
}
/* ===============КОНЕЦ МОДАЛЬНОГО ОКНА===============*/
