.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-social-container {
  margin-left: 70px;
}
.footer-social-container__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-social-container__list {
  display: flex;
  justify-content: space-between;
}
.footer-social-container__item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.footer-social-container__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
    &:hover .social-icon,
    &:focus .social-icon {
      fill: var(--title-text-color-secondary);
    }
  }
}
.footer-social-container__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
