@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--title-text-color-secondary);
    font-family: 'Roboto', sans-serif;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 20;

    transition: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    &__container {
      // position: relative;
      position: fixed;
      display: flex;
      // flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 40px;
      padding-top: 48px;
      padding-right: 15px;
      padding-bottom: 48px;

      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .mobile-menu__close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
  }

  .mobile-menu__nav {
    // margin-bottom: 302px;

    &-item {
      font-weight: 500;
      font-size: 40px;
      letter-spacing: 0.02em;

      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }

    &-link {
      color: var(--title-text-color);
    }
  }
  .nav-current {
    color: var(--accent-text-color);
  }

  .mobile-menu__contacts-phone-link {
    display: block;
    // margin-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
    margin-bottom: 0px;
  }

  .mobile-menu__contacts-mail-link {
    display: block;
    margin-top: 32px;
    margin-bottom: 64px;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    line-height: 1.16;
  }

  .mobile-menu__network {
    display: flex;
    flex-wrap: wrap;

    &-item {
      font-weight: 500;
      font-size: 22px;
      line-height: 1.2;
      letter-spacing: 0.02em;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    &-item:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;
    }
    &-item:not(:first-child) {
      padding-left: 10px;
    }
    &-link {
      color: var(--accent-text-color);
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
