@media screen and (max-width: 767px) {
  .section-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .section-team-card__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .section-team-card__profession {
    font-family: 'Roboto', sans-serif;
    width: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: #757575;
  }

  .section-team-card__social--list {
    padding: 0 74px 24px;
    display: flex;
    // justify-content: space-between;
    justify-content: center;
  }
  .section-team-card__item:not(:last-child) {
    margin-right: 10px;
  }
  .section-team__list {
    display: block;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .section-team__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .section-team-card__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #ffffff;
    transition: backgraund 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background: var(--accent-text-color);
    }
  }
  .section-team-card__icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .section-team-card__link:hover &,
    .section-team-card__link :focus & {
      fill: var(--title-text-color-secondary);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-team-card__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .section-team-card__profession {
    font-family: 'Roboto', sans-serif;
    width: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: #757575;
  }

  .section-team-card__social--list {
    padding: 0 74px 24px;
    display: flex;
    justify-content: space-between;
  }
  .section-team__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .section-team__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .section-team-card__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #ffffff;
    transition: backgraund 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background: var(--accent-text-color);
    }
  }
  .section-team-card__icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .section-team-card__link:hover &,
    .section-team-card__link :focus & {
      fill: var(--title-text-color-secondary);
    }
  }
}

@media screen and (min-width: 1200px) {
  .section-team-card {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .section-team-card__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 0;
  }
  .section-team-card__profession {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-top: 10px;
    margin-bottom: 16px;
  }
  .section-team-card__social--list {
    display: flex;
    justify-content: space-between;
  }
  .section-team-card__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #ffffff;
    transition: backgraund 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background: var(--accent-text-color);
    }
  }
  .section-team-card__icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .section-team-card__link:hover &,
    .section-team-card__link :focus & {
      fill: var(--title-text-color-secondary);
    }
  }
}
