/* цвет заголовка текста чорный #212121 */
/* цвет заголовка текста вторичный белый #ffffff */
/* цвет основного текста серый #757575 */
/* цвет акцента текста синий #2196f3 */
/* цвет основной иконки серый #afb1b8*/
:root {
  --title-text-color: #212121;
  --title-text-color-secondary: #ffffff;
  --primary-text-color: #757575;
  --accent-text-color: #2196f3;
  --icon-color: #afb1b8;
  --primary-white-color: #ffffff;
  // для экспиримента
  --primary-text-color: #212121;
  --logo-black-color: #000000;
  --accent-color: #2196f3;
  --grey-text-color: #757575;
  --hero-background-color: #2f303a;
  --primary-white-color: #ffffff;
  --background-grey-color: #f5f4fa;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --social-links-color: #afb1b8;
  --social-links-grey-background: rgba(255, 255, 255, 0.1);
  --activity-card-grey-color: rgba(47, 48, 58, 0.8);
  --transition-duration: 250ms;
  --transition-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
  --overlay-color: rgba(33, 150, 243, 0.9);
  --contact-link-text-color: rgba(255, 255, 255, 0.6);
}
