/* цвет заголовка текста чорный #212121 */
/* цвет заголовка текста вторичный белый #ffffff */
/* цвет основного текста серый #757575 */
/* цвет акцента текста синий #2196f3 */
/* цвет основной иконки серый #afb1b8*/
:root {
  --title-text-color: #212121;
  --title-text-color-secondary: #ffffff;
  --primary-text-color: #757575;
  --accent-text-color: #2196f3;
  --icon-color: #afb1b8;
}
